In [50]:
import pandas as pd
import numpy as np
import scipy

In [51]:
header = []
with open('valeursfoncieres-2014.txt') as vf:
    headerline = vf.readline()
    header = headerline.strip().split('|')
_ = [print(i, c) for (i, c) in enumerate(header)]

0 Code service CH
1 Reference document
2 1 Articles CGI
3 2 Articles CGI
4 3 Articles CGI
5 4 Articles CGI
6 5 Articles CGI
7 No disposition
8 Date mutation
9 Nature mutation
10 Valeur fonciere
11 No voie
12 B/T/Q
13 Type de voie
14 Code voie
15 Voie
16 Code postal
17 Commune
18 Code departement
19 Code commune
20 Prefixe de section
21 Section
22 No plan
23 No Volume
24 1er lot
25 Surface Carrez du 1er lot
26 2eme lot
27 Surface Carrez du 2eme lot
28 3eme lot
29 Surface Carrez du 3eme lot
30 4eme lot
31 Surface Carrez du 4eme lot
32 5eme lot
33 Surface Carrez du 5eme lot
34 Nombre de lots
35 Code type local
36 Type local
37 Identifiant local
38 Surface reelle bati
39 Nombre pieces principales
40 Nature culture
41 Nature culture speciale
42 Surface terrain

In [52]:
vf = pd.read_csv('valeursfoncieres-2014.txt', sep='|')
vf['Valeur fonciere'] = vf['Valeur fonciere'].str.replace(',', '.')
vf['Valeur fonciere'] = pd.to_numeric(vf['Valeur fonciere'])
vf['Surface reelle bati'] = pd.to_numeric(vf['Surface reelle bati'])
vf = vf.dropna(subset=['Valeur fonciere', 'Surface reelle bati'])

apparts = vf[(vf['Type local'] == 'Appartement') & (vf['Nature mutation'] == 'Vente')].copy()
# Remove outliers on input data
apparts = apparts[(np.abs(scipy.stats.zscore(apparts['Surface reelle bati'])) < 3)]
apparts = apparts[(np.abs(scipy.stats.zscore(apparts['Valeur fonciere'])) < 3)]
# Remove outliers on output data
apparts['prixm2'] = apparts['Valeur fonciere'] / apparts['Surface reelle bati']
apparts = apparts[(np.abs(scipy.stats.zscore(apparts['prixm2'])) < 3)]
apparts['prixm2']

len(apparts)

/tmp/ipykernel_28514/3654338979.py:1: DtypeWarning: Columns (18,23,24,26,28,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  vf = pd.read_csv('valeursfoncieres-2014.txt', sep='|')

373778

In [44]:
def display_info(column, name):
    mean = column.mean()
    median = column.median()
    print(f'{name} mean {mean}')
    print(f'{name} median {column.median()}')
scipy.stats.zscore(apparts['Surface reelle bati'])
display_info(apparts['Surface reelle bati'], 'surface')
display_info(apparts['Valeur fonciere'], 'valeur')

surface mean 55.732266211494526
surface median 54.0
valeur mean 510650.22334372276
valeur median 153755.0

In [49]:
apparts['prixm2'].std()

28049.603897643978

In [53]:
apparts

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,prixm2
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,09/01/2014,Vente,...,2,2.0,Appartement,NaN,80.0,2.0,NaN,NaN,NaN,2181.250000
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2014,Vente,...,1,2.0,Appartement,NaN,61.0,2.0,NaN,NaN,NaN,1475.409836
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,14/01/2014,Vente,...,2,2.0,Appartement,NaN,58.0,3.0,NaN,NaN,NaN,1637.931034
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2014,Vente,...,1,2.0,Appartement,NaN,83.0,3.0,NaN,NaN,NaN,1888.554217
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,20/01/2014,Vente,...,2,2.0,Appartement,NaN,56.0,4.0,NaN,NaN,NaN,1428.571429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2516677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,31/12/2014,Vente,...,1,2.0,Appartement,NaN,19.0,1.0,NaN,NaN,NaN,78.947368
2516678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,31/12/2014,Vente,...,1,2.0,Appartement,NaN,19.0,1.0,NaN,NaN,NaN,6513.157895
2516679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,31/12/2014,Vente,...,1,2.0,Appartement,NaN,5.0,1.0,NaN,NaN,NaN,24750.000000
2516682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,22/12/2014,Vente,...,1,2.0,Appartement,NaN,36.0,2.0,NaN,NaN,NaN,8333.333333
2516687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,10/10/2014,Vente,...,1,2.0,Appartement,NaN,20.0,1.0,NaN,NaN,NaN,4764.000000